{% assign posts=site.posts | where:"ref", page.ref | sort: 'lang' %}

{% if posts.size == 0 %}
  {% assign posts=site.news | where:"ref", page.ref | sort: 'lang' %}
{% endif %}

{% if posts.size == 0 %}
  {% assign posts=site.pages | where:"ref", page.ref | sort: 'lang' %}
{% endif %}

{% if posts.size == 0 %}
  {% assign posts=site.campaigns | where:"ref", page.ref | sort: 'lang' %}
{% endif %}

<div class="lang">
  <ul>
    {% for post in posts %}
      <li><a href="{{ site.base-url }}{{ post.url }}">{{ post.lang }}</a></li>
    {% endfor %}
  </ul>
</div>