{% assign langposts=site.posts | where:"ref", page.ref | sort: 'lang' %}

{% if langposts.size == 0 %}
  {% assign langposts=site.news | where:"ref", page.ref | sort: 'lang' %}
{% endif %}

{% if langposts.size == 0 %}
  {% assign langposts=site.pages | where:"ref", page.ref | sort: 'lang' %}
{% endif %}

{% if langposts.size == 0 %}
  {% assign langposts=site.campaigns | where:"ref", page.ref | sort: 'lang' %}
{% endif %}

<header>

  <div class="container">
    <div class="home">
      <h1><a href="/{{ page.lang }}">GMB SLU</a></h1>
    </div> 

    <div class="lang">
      <div>
        <ul>
        {% for post in langposts %}
      <li>
          <h3><a href="{{ site.base-url }}{{ post.url }}">{{ post.lang }}</a></h3></li>
        {% endfor %}
      
      </div>
    </ul>
    </div>
  </div>
</header>

<div class="nav">
  <h2>{% include menus/{{page.lang}}.html %}</h2>
</div>