@charset "UTF-8";
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,400;0,700;0,800;0,900;1,400;1,700;1,800;1,900&display=swap');

body {
	font-size: 1em;
	font-family: Poppins;
	margin: 0px;
	padding: 0px;
}

main {
	padding-bottom: 100px;
}

header a {
	text-decoration: none;
}

a {
	color: inherit;
}

h1, h2, h3 {
	font-weight: bold;
}

h1 {
	font-size: 2em;
}

header {
	background-color: #FF6A13;
	color: white;
	overflow: auto;
}

header ul {
	list-style: none;
	padding: 0px;
	margin: 0px;
}

.nav ul {
	list-style: none;
	padding: 0px;
	margin: 0px;
}

header h1 {
	font-size: 7em;
	padding-left: 20px;
}

header h2 {
	font-size: 2em;
}

.nav h2 {
	font-size: 2em;
}

header h3 {
	font-size: 2em;
}

header h1, header h2, header h3 {
	margin: 0px;
}

img {
	max-width: 90%;
}

.container {
	display: grid; 
	grid-template-columns: 550px 1fr; 
	grid-template-rows: 150px;
	gap: 0px 0px; 
	grid-template-areas: "home lang";
	align-items: start;
}

article {
	margin-left: 20px;
	min-width: 600px;
	width: 50vw;
}

.home { grid-area: home; }
.lang { grid-area: lang; }
.nav {
 	position: sticky;
	position: -webkit-sticky;
	top: 0;
	align-self: start;
	left: 0;
	min-height: 50px;
	background-color: #FF6A13;
	color: white;
	overflow: auto;
 }

.nav a {
	text-decoration: none;
}

.nav li {
	display: inline;
	padding-left: 20px;
	padding-right: 10px;
	float: left;
}

.lang li {
	float: right;
	padding-right: 20px;
}

.form-button {
	background-color: #FF6A13;
	color: white;
	border: none;
	font-size: 1.2em;
}

input {
	margin-top: 5px;
	margin-bottom: 20px;
}

@media screen and (max-width: 600px) {
	.container {
	grid-template-rows: 40px 100px;
	grid-template-columns: 1fr; 
	grid-template-areas: 
		"lang"
	    "home"
	}

	article {
		min-width: 80vw;
	}

	header h1 {
		font-size: 4em;
		padding-left: 20px;
	}

	header h2 {
		font-size: 1.5em;
	}

	.nav h2 {
		font-size: 1.5em;
	}


	header h3 {
		font-size: 1.5em;
	}

	img {
		max-width: 80vw;
	}


}